*{
  background-color: #343A40;
}
.full{
  min-height: 87vh;
  input{
    color: white;
  }
}
input:focus{
  box-shadow: none;
  background-color: transparent;
  color: white;
}
.btn{
  background-color: gray;
  opacity: 0.6;
  color: white;
}
.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-color: transparent;
}
*{
  background-color: transparent;
}
